<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my.Bookshelf</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" /><!-- <a href="https://www.flaticon.com/free-icons/book" title="book icons">Book icons created by mavadee - Flaticon</a> -->
</head>
<header>
    <h1>my.Bookshelf</h1>
    <h2>Your very own virtual bookshelf!</h2>
    <p>This space is meant to serve to display all the books that you've read; along with your notes and/or summary, the rating you gave the book, and the date you read it.</p>
</header>
<nav>
    <ul>
        <li><a>User: </a></li>
        <li><a>Add Book</a></li>
    </ul>
</nav>
<body>
    <section class="bookListSection">
        <% if(userBookList.length == 0) { %>
            <h3>Whoops! There are no books on the shelf!</h3>
        <% } else { %>
            <% userBookList.forEach((book) => { %>
                <% function rating() {
                    let star = "&#9733 ";
                    for (let i = 1; i < book.rating; i++) {
                        star = star + "&#9733 ";
                    };
                    return star;
                }; %>
            <article>
                <img />
                <h3><%= book.title %></h3>
                <p><%= book.notes %></p>
                <p><%= book.date_read %></p>
                <p class="ratingStars">Rating: <%- rating() %></p>

                <!-- add openlibrary link -->
                

            </article>
            <% }); %>
        <% }; %>
        <%- include("partials/addBookForm.ejs") %>
    </section>
</body>
<footer>
    <p>&copy; 2024 Donald J. Menig. All Rights Reserved.</p>
</footer>