<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my.Bookshelf</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" /><!-- <a href="https://www.flaticon.com/free-icons/book" title="book icons">Book icons created by mavadee - Flaticon</a> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Licorice&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>my.Bookshelf</h1>
        <h2>a virtual bookshelf!</h2>
        <p>This space is meant to serve as a place to display a read book list; along with notes and/or summary, a book rating, and the date the book was read.</p>
    </header>
    <main>
        <nav>
            <ul>
                <!-- conditional for displaying username -->
                <% let usernameForBookshelf = ""; %>
                <% currentUsername === "default" ? usernameForBookshelf = "" : usernameForBookshelf = currentUsername + "'s Bookshelf"; %>
                <li><a class="userBookshelfName"><%= usernameForBookshelf %></a></li>

                <!-- conditional for displaying add book button -->
                <% if (currentUsername != "default") { %> <li><button id="addBookBtn">Add Book</button> <% } %>

                <li><button id="loginBtn">Log In / Register</button></li>
            </ul>
        </nav>

        <!-- modal  -->
        <%- include("partials/addBookForm.ejs") %>
        <%- include("partials/userLoginForm.ejs") %>
        <section class="bookListSection">
            <% if(userBookList.length == 0) { %>
                <h3 class="noBooksMessage">Whoops!<br>There are no books on the shelf!</h3>
            <% } else { %>
                <% userBookList.forEach((book) => { %>
                    <% function rating() {
                        let star = "&#9733 ";
                        for (let i = 1; i < book.rating; i++) {
                            star = star + "&#9733 ";
                        };
                        return star;
                    }; %>
                <article class="bookCard">
                    <img class="bookCover" src="https://covers.openlibrary.org/b/id/<%= book.cover_id %>-L.jpg?default=false" alt="No Book Cover Image" onerror="this.src='/images/book_640.png'" />
                    <div class="bookInfoContainer">
                        <h3><%= book.title %></h3>
                        <p class="bookNotes">"<%= book.notes %>"</p>
                        <div class="dateAndRating">
                            <div class="date">
                                <h4>Date Read: </h4>
                                <p><%= book.date_read %></p>
                            </div>
                            <div class="rating">
                                <h4>My Rating:</h4>
                                <p class="ratingStars"><%- rating() %></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <form action="/deleteBook" method="POST" onsubmit="return confirm('Are you sure you want to delete this book?')">
                            <input type="hidden" name="bookTitle" value="<%= book.title %>" />
                            <button type="submit" class="deleteButton"><i class="fa-regular fa-trash-can"></i></button>
                        </form>
                        <%- include("partials/editBookForm.ejs", { book }) %>
                        <button id="editButton" class="editButton"><i class="fa-regular fa-pen-to-square"></i></button>
                    </div>
                    <!-- add openlibrary link -->
                    

                </article>
                <% }); %>
            <% }; %>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Donald J. Menig. All Rights Reserved.<br>Powered by <a href="https://openlibrary.org/" target="_blank">Open Library</a></p>
    </footer>
    <!-- font awesome icons script -->
    <script src="https://kit.fontawesome.com/d743f25c11.js" crossorigin="anonymous"></script>
</body>